<div id="page-content" class="friends">
  <div id="content-header">
    <div class="container">
      <h1 id="header">Friends (<%= @friends.length %>)</h1>
    </div>
  </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script>
(function ($) {
  // custom css expression for a case-insensitive contains()
  jQuery.expr[':'].Contains = function(a,i,m){
      return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
  };


  function listFilter(header, list, list1) { // header is any element, list is an unordered list
    // create and add the filter form to the header
    var form = $("<form>").attr({"class":"filterform","action":"#"}),
        input = $("<input>").attr({"class":"filterinput","type":"text", "placeholder":"Search For Friends"});
    $(form).append(input).appendTo(header);

    $(input)
      .change( function () {
        var filter = $(this).val();
        if(filter) {
          // this finds all links in a list that contain the input,
          // and hide the ones not containing the input while showing the ones that do
          $(list).find("a:not(:Contains(" + filter + "))").parent().slideUp();
          $(list).find("a:Contains(" + filter + ")").parent().slideDown();
          $(list1).find("a:not(:Contains(" + filter + "))").parent().slideUp();
          $(list1).find("a:Contains(" + filter + ")").parent().slideDown();

        } else {
          $(list).find("li").slideDown();
          $(list1).find("li").slideDown();
        }
        return false;
      })
    .keyup( function () {
        // fire the above change event after every letter
        $(this).change();
    });
  }


  //ondomready
  $(function () {
    listFilter($("#header"), $("#old_list"), $("#curr_list"));
  });
}(jQuery));
  </script>

<div class="container">
  <h3 class="friends-list-header">Friends with a <%= current_semester.name %> schedule</h3>
  <ul id="curr_list", class="friends-list">
<% sorted_friends = @friends.sort { |a,b| a.last_name.downcase <=> b.last_name.downcase } %>
<% curr_friends = sorted_friends.select {|f| !f.main_schedule(current_semester).nil? } %>
<% prev_friends = sorted_friends.reject {|f| !f.main_schedule(current_semester).nil? } %>

<% curr_friends.each do |friend| %>
    <li>
      <a href="<%= user_path(friend) %>" class="friend-link">
        <img class="friend-pic"
             alt="<%= friend.name %>"
             src="http://graph.facebook.com/<%= friend.uid %>/picture" />
        <span class="friend-name"><%= friend.name %></span>
        <span class="friend-mutual-courses"><% 
        # mutual courses = intersection of two sets
        if current_user.main_schedule && friend.main_schedule then
          mutuals = friend.courses & current_user.courses
        else
          mutuals = []
        end
        # TODO on hover show actual courses
         %><%= mutuals.length %> mutual courses</span>
        <span class="friend-status"><%= friend.status %></span>
      </a>
    </li><% 
end 
%>
  </ul>
  <h3 class="friends-list-header">Other friends on schedule+</h3>
  <ul id = "old_list", class="friends-list"><% 
prev_friends.each do |friend| %>
    <li>
      <a href="<%= user_path(friend) %>" class="friend-link">
        <img class="friend-pic"
             alt="<%= friend.name %>"
             src="http://graph.facebook.com/<%= friend.uid %>/picture" />
        <span class="friend-name"><%= friend.name %></span>
        <span class="last-seen">Last seen: <%=
        semesters_active = friend.schedules.primary.map(&:semester)
        semesters_active.last.name
        %></span>
      </a>
    </li><% 
end %> 
  </ul>
  </div>
</div>
  
<!-- BEGIN Old Friends Page -->
  <script type="text/javascript">/*
  $(document).ready(function() {
		$('.common-courses .tooltip').hide();
		$('.common-courses .tooltip > ul > li').textOverflow();
		
		$('#friends-container').delegate('.count','hover',function(e) {
      if (e.type === 'mouseenter')
        $(this).prev('.tooltip').show();
      else
		    $(this).prev('.tooltip').hide();
		});
	});*/
  </script>  <!--
  <form id="search-friends"><input type="text" placeholder="Search Friends" id="search-input"></input><img id="search-friends-cancel" src="/images/friends-search-cancel.png" /></form>
	<div id="friends">
		<div id="sort-friends">
			<span id="sort-name">name</span>
			<span id="sort-free">free/in class</span>
			<span id="sort-cic">courses in common</span>
		</div>
	  <ul id="friends-container"></ul>
	  <span class="nav-previous">previous page</span>
	  <span class="nav-next">next page</span>
  </div>
<END Old Friends Page -->
