<div id="page-content" class="friends">
  <div id="content-header">
    <div class="container">
      <h1>Friends (<%= @friends.length %>)</h1>
      <!--<span id="share-prompt">
        Share schedule+ with your friends on facebook to see more schedules!
        <a href="#" class="fb-share">Share</a>
      </span>-->
      <script type="text/javascript">
      $(document).ready(function() {
        $('.fb-share').click(function(e) {
          e.preventDefault();
          FB.ui({ method:'feed',
            name:'schedule+',
            link:'http://scheduleplus.org/',
            picture:'http://scheduleplus.org/images/schedule-plus-logo-square.jpg',
            description:'schedule+ connects you to your Carnegie Mellon friends on Facebook by matching your planned course schedules. See which courses are most common among your friends, or find out which of your friends is free for a lunchtime get-together.',
            message:"I'm now using schedule+ to share my CMU schedule with friends. Check it out!"
          });
          return false;
        });
      });
      </script>
    </div>
  </div>
  <div class="container">
  <h3 class="friends-list-header">Spring 2012 friends</h3>
  <ul class="friends-list"><% 
curr_friends = @friends.select {|f| !f.main_schedule(current_semester).nil? }
prev_friends = @friends.reject {|f| !f.main_schedule(current_semester).nil? }

curr_friends.each do |friend| %>
    <li>
      <a href="<%= user_path(friend) %>" class="friend-link">
        <img class="friend-pic"
             alt="<%= friend.name %>"
             src="http://graph.facebook.com/<%= friend.uid %>/picture" />
        <span class="friend-name"><%= friend.name %></span>
        <span class="friend-mutual-courses"><% 
        # mutual courses = intersection of two sets
        if current_user.main_schedule && friend.main_schedule then
          mutuals = friend.courses & current_user.courses
        else
          mutuals = []
        end
        # TODO on hover show actual courses
         %><%= mutuals.length %> mutual courses</span>
        <span class="friend-status"><%= friend.status %></span>
      </a>
    </li><% 
end 
%>
  </ul>
  <h3 class="friends-list-header">Other friends on schedule+</h3>
  <ul class="friends-list"><% 
prev_friends.each do |friend| %>
    <li>
      <a href="<%= user_path(friend) %>" class="friend-link">
        <img class="friend-pic"
             alt="<%= friend.name %>"
             src="http://graph.facebook.com/<%= friend.uid %>/picture" />
        <span class="friend-name"><%= friend.name %></span>
        <span class="last-seen">Last seen: <%=
        semesters_active = friend.schedules.primary.map(&:semester)
        semesters_active.last.name
        %></span>
      </a>
    </li><% 
end %> 
  </ul>
  </div>
</div>
  
<!-- BEGIN Old Friends Page -->
  <script type="text/javascript">/*
  $(document).ready(function() {
		$('.common-courses .tooltip').hide();
		$('.common-courses .tooltip > ul > li').textOverflow();
		
		$('#friends-container').delegate('.count','hover',function(e) {
      if (e.type === 'mouseenter')
        $(this).prev('.tooltip').show();
      else
		    $(this).prev('.tooltip').hide();
		});
	});*/
  </script>  <!--
  <form id="search-friends"><input type="text" placeholder="Search Friends" id="search-input"></input><img id="search-friends-cancel" src="/images/friends-search-cancel.png" /></form>
	<div id="friends">
		<div id="sort-friends">
			<span id="sort-name">name</span>
			<span id="sort-free">free/in class</span>
			<span id="sort-cic">courses in common</span>
		</div>
	  <ul id="friends-container"></ul>
	  <span class="nav-previous">previous page</span>
	  <span class="nav-next">next page</span>
  </div>
<END Old Friends Page -->
