<% content_for :content do %>
<div class="main-aside">
 <!--<li class="nav-schedules">All Schedules</li>-->
	<ul id="friends">
	  <% @friends.each do |friend| %>
	  <li><a href="/friends/<%= friend.id %>">
      <img src="http://graph.facebook.com/<%= friend.uid %>/picture" /><span class="name"><%= friend.name %></span>
      <span class="status">currently <%= friend.status %></span>
    </a></li>
	  <% end %>  
  </ul>
</div>
<div id="article">
  <div id="friends-tooltip" class="tooltip">
    Invite your friends on facebook to see more schedules!
  </div>
  <div style="margin:0 auto; width:490px">
  <fb:serverFbml width="490px">
  <script type="text/fbml">
  <fb:fbml>
  <fb:request-form action="http://<%= request.domain %><%= ':3000' if request.domain == 'localhost' %>/friends" method="POST" invite="true" type="schedule+" content="Import your ScheduleMan schedule and see your friends' schedules!">
    <fb:multi-friend-selector cols="3" showborder="false" actiontext="Invite Your Friends to schedule+" />
  </fb:request-form>
  </fb:fbml>
  </script>
  </fb:serverFbml>
  </div>
</div>
<% end %>
<%= render :partial => 'partials/mainpage' %>
