<% content_for :content do %>
<div class="main-aside">
 <!--<li class="nav-schedules">All Schedules</li>-->
  <ul id="friends">
    <% @friends.each do |friend| %>
    <li><a href="/friends/<%= friend.id %>">
      <img src="http://graph.facebook.com/<%= friend.uid %>/picture" /><span class="name"><%= friend.name %></span>
      <span class="status"><%= friend.status %></span>
    </a></li>
    <% end %>  
  </ul>
</div>
<div id="article" class="friends">
  <div id="friends-tooltip" class="tooltip">
    Share this app on facebook and invite your friends to see more schedules!
    <!--<a href="#" id="fb-invite">Invite your friends</a> on facebook to see more schedules!-->
  </div>
  <script type="text/javascript">
    $('#fb-invite').click(function(e) {
      e.preventDefault();
      FB.ui({ method:'apprequests',
        filters:['app_non_users'],
        title:'Invite Friends to use schedule+!',
        message:'Import your ScheduleMan using schedule+ and share your schedule with me!'
      });
      return false;
    });
  </script>
</div>
<% end %>
<%= render :partial => 'partials/mainpage' %>
