<div id="page-header">
  <div class="container">
    <%= link_to (image_tag "schedule-plus.png", :id => "schedule-plus-logo"),
                root_path, :id => "logo-link" %>
    <ul id="main-nav" class="nav"><%
    if user_signed_in? %>
      <li id="main-nav-friends"><a href="/friends">Friends</a></li>
      <li id="main-nav-schedules"><a href="/schedules">Schedules</a></li><%
    end %>
      <li id="main-nav-courses"><a href="/courses">Courses</a></li>
    </ul><% 
    if user_signed_in? %>
    <div id="current-user">
      <a href="/logout" data-method="delete" id="logout">Logout</a>
      <a href="<%= user_path(current_user) %>" id="current-user-schedule-link">
        <span id="current-user-name"><%= current_user.fb.try(:name) %></span>
        <img id="current-user-pic" 
             alt="<%= current_user.fb.try(:name) %>"
             src="<%= current_user.fb.try(:picture) %>" />
      </a>
      <!--a href="/settings" id="settings-link">Settings</a-->
    </div><% 
    else %>
    <%= link_to "Login", '/auth/facebook',
        :id => 'login-link' %><% 
    end %>
  </div>
</div>
