<script>
$(function() {
  $('.schedule').click(function(){
    location.href = '/schedules/' + $(this).attr('id');
  });
});
</script>
<%
content_for :title do %><%=
  @user.name %><%
end
%><div id="page-content" class="user">
  <div id="content-header">
    <div class="container"><% 
        uid = @user.uid
        name = @user.name
        caption = link_to "facebook profile", 
          "https://facebook.com/profile.php?id=" + @user.uid.to_s
      %>
      <img id="user-pic"
           alt="Vincent Siao"
           src="http://graph.facebook.com/<%= uid %>/picture" />
      <h1 id="user-name"><%= name %></h1>
      <div id="user-captions">
        <%= caption %>
      </div>
    </div>
  </div>
  <div class="container">
    <h2>Schedules</h2><%
    if current_user == @user %>
    <span id="user-notify">
      These are your primary schedules for each semester. Your friends will see these
      schedules when they visit your profile. <%= 
      link_to "Manage Schedules", schedules_path, :id => "manage-link"%>
    </span><%
    end %>
    <ul id="schedules"><%
    @user.schedules.select(&:primary).each do |s| %>
      <li id="<%= s.url %>" class="schedule">
        <h3><%= s.semester.name %></h3>
        <ul class="course-selections"><% 
        s.course_selections.each do |cs| %>
          <li><span class="number"><%= 
                cs.course.number %></span> <%= 
                cs.course.name %></li><% 
        end %>
        </ul>
      </li><%
    end %>
    </ul>
    <div class="clear"></div>
  </div>
</div>
