<%
# cs : CourseSelection
editable = user_signed_in? && current_user == cs.schedule.user
@semester ||= cs.schedule.semester
%>
<li id="course<%= cs.course.number %>" class="course<%= cs.course.number %> course">
  <div class="course-options">
    <%= link_to "times", "#", :class => "course-times-link" %>
    <%= link_to "info", "/courses/"+cs.course.number+"/"+cs.schedule.semester.name, 
                        :class => "course-info-link" %>
    <%= link_to "delete", 
                 schedule_selection_path(:schedule_id => cs.schedule, :id => cs.id),
                 :method => :delete,
                 :remote => true,
                 :class => "course-delete-link" if editable %>
  </div>
  <div class="course-details">
  <span class="number"><%= 
    course_path = '/courses/'+cs.course.number+'/'+cs.course.semester.short_name 
    link_to cs.course.number, course_path
  %></span>
  <span class="selected_section"><%= cs.selected_section %></span>
  <span class="units"><%= cs.course.units %> units</span>
  <span class="name"><%= cs.name %></span><%
if user_signed_in? %>
  <div class="friends"><%
  students = cs.course.students(@semester) 
  friends = cs.course.students(@semester, current_user, "friends")
  you = students.delete(current_user)

  # FIXME THIS IS SO UGLY
  # FIXME HELP HELP HELPER? HELP
  if you
    if friends.length == 0
      if students.length == 0
        %>You are in this course.<%
      else
        %>You and <a href="<%= course_path %>" class="course-info-link"><%= students.length %> <%= 
        if students.length > 1 then 'others' else 'other' end %></a> are in this course.<%
      end
    else
      if students.length <= 1
        %>You and <%= link_to friends.first.name, 
        schedule_path(friends.first.main_schedule(@semester)),
        :class => "course-info-link" %> are in this course.<%
      else
        %>You, <%= link_to friends.first.name, 
        schedule_path(friends.first.main_schedule(@semester)),
        :class => "course-info-link" %>, and 
        <a href="<%= course_path %>" class="course-info-link"><%= students.length - 1 %> <%=
        if students.length - 1 > 1 then 'others' else 'other' end %></a>.<%
      end
    end
  else
    if friends.length == 0
      if students.length == 0
        %>No one is currently in this course.<%
      else
        %><%= students.length %> <%= students.length == 1 ? "person is" : "people are" %> in this course.<%
      end
    else
     if students.length <= 1
       %><%= link_to friends.first.name, 
        schedule_path(friends.first.main_schedule(@semester)),
        :class => "course-info-link" %> is in this course.<%
       else
        %><%= link_to friends.first.name, 
        schedule_path(friends.first.main_schedule(@semester)),
        :class => "course-info-link" %> and 
        <a href="<%= course_path %>" class="course-info-link"><%= students.length - 1 %> <%=
        if students.length - 1 > 1 then 'others' else 'other' end %></a>.<%
      end
    end
  end 
 
  section_students = cs.section.students
  same_section = friends & section_students
  other_section = friends - section_students
  %>
    <!--<ul class="facebox"><%
    friends.first(8).each do |f| %>
      <li><%= link_to (image_tag "https://graph.facebook.com/"+f.uid.to_s+"/picture", 
                                 :alt => f.name),
                      schedule_path(f.main_schedule(@semester)),
                      'tooltip' => f.name %></li><%
    end %>
    </ul>
    <div class="clear"></div>--><%
  %><%
  if !same_section.empty? %>
    <span class="section-header">Section <%= cs.section.letter %></span>
    <ul class="facebox"><%
    same_section.each do |f| %>
      <li><%= link_to (image_tag "https://graph.facebook.com/"+f.uid.to_s+"/picture", 
                                 :alt => f.name),
                      schedule_path(f.main_schedule(@semester)), 
                      'tooltip' => f.name %></li><%
    end %>
    </ul>
    <div class="clear"></div><%
  end
  if !other_section.empty? %>
    <span class="section-header">Other Sections</span>
    <ul class="facebox"><%
    other_section.each do |f| %>
      <li><%= link_to (image_tag "https://graph.facebook.com/"+f.uid.to_s+"/picture", 
                                 :alt => f.name),
                      schedule_path(f.main_schedule(@semester)),
                      'tooltip' => f.name %></li><%
    end %>
    </ul>
    <div class="clear"></div><%
  end %>
  </div><% 
end %>
  <ul class="sections"><% 
  cs.course.sections_by_lecture.each do |lecture, sections|
    if lecture %>
    <li class="lecture">
      <span class="lecture-num">Lec<%= lecture.number %></span>
      <span class="days"><% lecture.scheduled_times.each do |time| 
        %><%= time.days %><br /><% end %></span>
      <span class="times"><% lecture.scheduled_times.each do |time| 
        %><%= time.to_str %><br /><% end %></span>
      <span class="locations"><% lecture.scheduled_times.each do |time| 
        %><%= time.location %><br /><% end %></span>
    </li><% 
  end%><% 
  reset_cycle 'parity'
  sections.each do |section| %>
    <li class="section <%= 
      cycle('odd', 'even', :name => 'parity') %><%= 
      " selected" if cs.section == section %>" id="section<%= section.id %>"><% 
      if editable %>
      <a href="<%= schedule_selection_path(:schedule_id => cs.schedule, :id => cs.id, :section_id => section.id)%>" 
         data-method="put" data-remote="true">
      <% end %>
        <span class="section-ltr"><%= section.letter %></span>
        <span class="days"><% section.scheduled_times.each do |time|
          %><%= time.days %><br /><% end %></span>
       <span class="times"><% section.scheduled_times.each do |time| 
          %><%= time.to_str %><br /><% end %></span>
        <span class="locations"><% section.scheduled_times.each do |time| 
          %><%= time.location %><br /><% end %></span>
      <% if current_user && current_user == cs.schedule.user %></a><% end %>
    </li>
  <% end %>
  <% end %>
  </ul>
  </div>
</li>
