      <li class="semester" id="<%= semester.name %>">
        <h2 class="semester-header"><%= semester.name %></h2><%
        if sgroup.empty? %>
        <p id="no-schedules-notify">No schedules yet for <%= semester.name %>.
        <%= link_to "Create a new schedule", schedules_path(:semester => semester.id), 
                    :method => :post %>.
        <!--or import from ScheduleMan.--></p><% 
        else %>
        <% if sgroup.select(&:primary).empty? then %>
        <span class="no-primary-notify">
        <strong>You don't have any primary schedules for this semester</strong> (all of them are private). Your friends won't see which courses you're in!
        </span>
        <% end %>
        <ul class="semester-schedules"><% 
        sgroup.each_with_index do |schedule,index| %>
          <li class="schedule" id="<%= schedule.url %>"><div class="inner">
            <h3 class="schedule-title">
            <%= form_tag '/schedules-rename', :remote => true, :class => 'schedule-title-name', :method => 'get', :id => 'name-' + schedule.url do %>
              <input type="hidden" name="schedule_id" value="<%= schedule.id %>" />
              <span><%= schedule.name %></span>
              <%= submit_tag "rename" %>
            <% end %>
            </h3>
            <div class="schedule-options">
              <%= link_to "Delete", 
                          schedule_path(schedule), 
                          :class => 'schedule-delete',
                          :method => :delete, 
                          :remote => true %><% 
            if schedule.primary %>
              <a href="#" class="schedule-primary selected">public</a><% 
            else %>
              <%= link_to 'private',
                          schedule_path(schedule, :schedule => {:primary => true}),
                          :class => "schedule-primary toggable",
                          :method => 'put',
                          :remote => true %><% 
            end %>
            </div>
            <ul class="course-selections"><% 
            schedule.course_selections.each do |cs| %>
              <li><span class="number"><%= 
                    cs.course.number %></span> <%= 
                    cs.course.name %></li><% 
            end %>
            </ul>
          </div></li>
          <% end %>
        </ul>
        <div class="clear"></div><%
        end %>
      </li>
