<div id="page-content" class="schedules">
  <div id="content-header">
    <div class="container">
      <a href="/schedules"><h1 id="schedule-index-title">Schedules</h1></a>
      <%= link_to "Create a New Schedule", schedules_path, :method => :post %>
    </div>
  </div>
  <div class="container">
    <ul id="schedules-list">
      <% @schedules.each do |semester,sgroup| %>
        <li class="semester"><h2 class="semester-header"><%= semester.name %></h2>
          <ul class="semester-schedules">
            <% sgroup.each do |schedule| %>
              <li class="<%= cycle('odd', 'even') %>">
                <%= link_to schedule.url, schedule_path(schedule) %>
                <div class="schedule-options">
                <% if schedule.active %>
                  (active)
                <% else %>
                  (<%= link_to "make active", 
                               schedule_path(schedule,
                                             :schedule => {:active => true}), 
                               :method => :put %>)
                <% end %>
                <%= link_to "X", schedule_path(schedule), :method => :delete %>
                </div>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
