<% 
selections = @schedule.course_selections

# TODO replace with CanCan?
editable = user_signed_in? && current_user == @schedule.user
viewable = user_signed_in? && 
           ((current_user.friends.include? @schedule.user) ||
            (current_user == @schedule.user))

# Page title and meta tag
content_for :title do %><%=
  @schedule.user.first_name + "'s " if viewable %><%=
  @schedule.semester.name + " Schedule" %><%
end

# Description meta tag
content_for :description do 
  if selections.length >= 1 then %><%=
    "Courses: " + selections[0].number %><%
    for i in (1..selections.length-1) %><%=
      ', ' + selections[i].number %><%
    end 
  else %><%= 
    "An empty schedule. Not terribly interesting, I assure you." %><%
  end
end %><%

content_for :javascript_includes do %><%= 
  javascript_include_tag "calendar.js" %><% 
end %>
<% if user_signed_in? %>
<script>
$(function(){
  $('.fb-share').click(function(e) {
        e.preventDefault();
        FB.ui({ method:'feed',
          name:"<%= @schedule.user.first_name %>'s <%= @schedule.semester.name %> Schedule",
          link:'http://scheduleplus.org/schedules/<%= @schedule.url %>',
          picture:'http://scheduleplus.org/images/schedule-plus-logo-square.jpg',
          description:'schedule+ connects you to your Carnegie Mellon friends on Facebook by matching your planned course schedules. See which courses are most common among your friends, or find out which of your friends is free for a lunchtime get-together.',
          message:"I'm now using schedule+ to share my CMU schedule with friends. Check it out!"
        });
        return false;
  });
});
</script>
<% end %>
<div id="page-content" class="schedule">
  <div id="content-header">
    <div class="container"><% 
    if user_signed_in? %>
      <div id="schedule-options">
        <%= link_to "Delete", schedule_path(@schedule), 
                    :id => 'schedule-delete', :method => :delete if editable %>
        <%= link_to "Clone", schedules_path(:semester => @schedule.semester, 
                                            :clone => @schedule),
                    :id => "schedule-clone", :method => :post %>
        <%= link_to "Share", "#", 
                    :id => "schedule-share", :class => "fb-share" %>
        <h3>Options</h3>
      </div><% 
      if viewable 
        uid = @schedule.user.uid
        name = @schedule.user.name
        caption = link_to "facebook profile", 
          "https://facebook.com/profile.php?id=" + @schedule.user.uid.to_s
      else
        uid = 1
        name = "schedule+ user"
        caption = "You don't know me, and I don't know you."
      end %>
      <%= image_tag 'https://graph.facebook.com/'+uid.to_s+'/picture',
                    :id => 'schedule-user-pic', :alt => name %>
      <h1 id="schedule-user"><%= link_to name, user_path(@schedule.user) %></h1>
      <div id="schedule-user-captions">
        <%= caption %>
      </div><% 
    else %>
      <p id="schedule-login-notify">
        schedule+ connects you to your Carnegie Mellon 
        friends on Facebook by matching your course schedules. 
        <a href="/auth/facebook" id="fb-login">Login with Facebook</a>
      </p><% 
    end %>
    </div>
  </div>
  <div class="container">
    <div id="schedule-container">
      <span id="schedule-semester"><%= @schedule.semester.name %></span>
      <% if editable %>
        <% if @schedule.empty? %>
          <!--<%= form_for(:upload, :url => {:action=>'import', :controller => 'schedules'}, :html=> {:multipart=>true}) do |f| %>
            <%= f.file_field :uploaded_file %>
            <%= f.submit "upload" %>
          <input type="hidden" name="schedule_id" value="<%= @schedule.id %>" />
          <% end %>-->
          <%= form_tag '/schedules-import', :id => 'import-scheduleman', :method => :post do %>
          <%= submit_tag "Add" %>
          <%= text_field_tag :scheduleman_url, nil, :placeholder => 'scheduleman.org/schedules/cTUJ2tAnlw' %>
          <input type="hidden" name="schedule_id" value="<%= @schedule.id %>" />
          <% end %>
          <span id="form-or">OR</span>
        <% end %>
        <%= form_tag schedule_selections_path(@schedule), :id => 'add-course', :method => :post, :remote => true do %>
        <%= submit_tag "Add" %>
        <%= text_field_tag :search, nil, :placeholder => 'Add or Search Courses', :autocomplete => 'off' %>
        <ul id="add-suggestions">
        </ul>
        <div class="clear"></div>
        <input type="hidden" name="semester" value="<%= @schedule.semester.id %>" />
        <input type="hidden" name="confirm" value="true" /><%
      end %><%
      end %>
      <ul id="schedule">
        <%= render :partial => "course", :collection => selections, :as => :cs %>
      </ul>
      <span id="total-units">Total: <%= @schedule.units %> units</span>
    </div>
    <div id="calendar-container"><% 
    if editable 
      if @schedule.primary %>
      <span id="schedule-public-notify">
      <strong>This is your primary schedule</strong>. 
      Your friends will see this as your <%= @schedule.semester.name %> schedule. 
      </span><% 
      else %>
      <span id="schedule-private-notify">
      <strong>This is a private schedule.</strong> It will not be displayed on your
      profile, but you may still directly link to it.
      <%= link_to 'Make public',
                  schedule_path(@schedule, :schedule => {:primary => true}),
                  :method => 'put' if false %>
      </span><% 
      end 
    end %>
    <form>
    </form>
     <ul id="calendar"></ul>
    </div>
  </div>
</div>
