<% content_for :content do %>
<div class="main-aside">
  <% if current_user && current_user == @schedule.user%>
    <!--<a class="nav-schedules">All Schedules</a>-->
    <!--<%= form_tag '/schedules/add-course', :id => 'add-course', :method => :get do %>
      <%= text_field_tag :course, nil, :placeholder => '99101A' %>
      <%= submit_tag "Add" %>
    <% end %>-->
  <% end %>
  <% if controller.controller_name == 'friends' %>
    <a href="/friends" class="nav-friends">All Friends</a>
  <% end %>
  <ul class="schedule">
    
  </ul>
</div>
<div id="article">
  <div id="calendar-header">
    <input id="schedule-permalink" type="text" value="http://acm-schedule.heroku.com/schedules/<%= @schedule.id %>"></input>
  <% if current_user %>
    <img src="http://graph.facebook.com/<%= @schedule.user.uid %>/picture"/>
    <h1><%= @schedule.user.name %></h1>
  <% end %>
  </div>
  <ul id="calendar">

  </ul>
<script src="/javascripts/calendar.js" type="text/javascript"></script>
<%# if controller.action_name == 'show' %>
<script type="text/javascript">
$(document).ready(function() {
  var data = <%=
      @schedule.to_json(:include => 
        {:scheduled_courses => 
          {:include => 
            {
              :course => {},
              :lecture => { :include => :lecture_section_times },
              :recitation => { :include => :recitation_section_times }
            }
          }
        }).html_safe
 %>;
 addSchedule(data.schedule.scheduled_courses);
});
</script>
<%# end %>
<% if current_user %>
<script type="text/javascript">
$('#main-content').delegate('.course, .section, .lecture','click',loadFriends);
</script>
<% end %>
</div>
<% end %>
<%= render :partial => 'partials/mainpage' %>
