<%= content_for :javascript_includes do %>
  <%= javascript_include_tag "calendar.js" %>
<% end %>
<div id="page-content" class="schedule">
  <div id="content-header">
    <div class="container">
      <!--<div id="schedule-user-pic-frame">-->
        <img id="schedule-user-pic"
             alt="Vincent Siao"
             src="<%= @schedule.user.fb.picture %>" />
      <!--</div>-->
      <h1 id="schedule-user"><%= @schedule.user.name %></h1>
      <div id="schedule-user-captions">
        <span id="schedule-user-major">has no friends QQ</span>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="schedule-container">
      <% # TODO better authentication. cancan? %>
      <% # FIXME temporarily commented out for design %>
      <% # if current_user && current_user == @schedule.user %>
        <%= form_tag schedule_selections_path(@schedule),
                     :id => 'add-course', :method => :post do %>
          <%= text_field_tag :search, nil, :placeholder => 'Add a Course' %>
          <%= submit_tag "Add" %>
        <% end %>
      <% # end %>
      <ul id="schedule">
        <% @schedule.course_selections.each do |cs| %>
        <li class="course<%= cs.number %> course">
          <span class="number"><%= cs.number %></span><span class="selected_section"><%= cs.selected_section %></span>
          <span class="name"><%= cs.name %></span>
          <div class="options">
            <%= link_to "info", course_path(cs.course), :class => "course-info-link" %>
            <%= link_to "times", course_path(cs.course), :class =>"course-times-link" %>
            <%= link_to "delete", schedule_selection_path(:schedule_id => @schedule,
                                                     :id => cs.id),
                             :method => :delete,
                             :remote => true,
                             :class => "course-delete-link" %>
          </div>
          <ul class="sections">
      <% cs.course.sections_by_lecture.each do |lecture, sections| %>
        <% if lecture %>
              <li class="lecture">
                <!-- class="add-course">&nbsp;</-->
                <span class="lecture-num">Lec<%= lecture.number %></span>
                <span class="days"><% lecture.scheduled_times.each do |time| %>
                  <%= time.days %><br />
                <% end %></span>
                <span class="times"><% lecture.scheduled_times.each do |time| %>
                  <%= time.to_str %><br />
                <% end %></span>
                <span class="locations"><% lecture.scheduled_times.each do |time| %>
                  <%= time.location %><br />
                <% end %></span>
              </li>
        <% end %>
        <% sections.each do |section| %>
          <li class="section <%= cycle('odd', 'even', :name => 'parity') %><%= " selected" if cs.section == section %>" id="section<%= section.id %>">
            <a href="<%= schedule_selections_path(:schedule_id => @schedule, :id => section.id)%>" data-method="post" data-remote="true">
            <span class="section-ltr"><%= section.letter %></span>
            <span class="days"><% section.scheduled_times.each do |time| %><%= time.days %><br /><% end %></span>
            <span class="times"><% section.scheduled_times.each do |time| %><%= time.to_str %><br /><% end %></span>
            <span class="locations"><% section.scheduled_times.each do |time| %><%= time.location %><br /><% end %></span>
            </a>
          </li>
        <% end %>
        <% reset_cycle('parity') %>
      <% end %>
          </ul>
        </li>
        <% end %>
      </ul>
      <span id="total-units">Total: <%= @schedule.units %> units</span>
    </div>
    <div id="calendar-container">
      <!--
      <div id="schedule-permalink-box">
        <div id="schedule-permalink">
          PERMALINK HERE
        </div>
      </div>
      -->
      <ul id="calendar">
      </ul>
    </div>
  </div>
</div>
