<div id="page-content" class="schedule">
  <div id="content-header">
    <div class="container">
      <!--<div id="schedule-user-pic-frame">-->
        <img id="schedule-user-pic"
             alt="Vincent Siao"
             src="http://graph.facebok.com/vincentsiao/picture?type=square" />
      <!--</div>-->
      <h1 id="schedule-user">Vincent Siao</h1>
      <div id="schedule-user-captions">
        <span id="schedule-user-major">Computer Science 2014</span>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="schedule-container">
      <% # TODO better authentication. cancan? %>
      <% # FIXME temporarily commented out for design %>
      <% # if current_user && current_user == @schedule.user %>
        <%= form_tag '/schedules/1/add?str=1234', :id => 'add-course', :method => :get do %>
          <%= text_field_tag :course, nil, :placeholder => '99101A' %>
          <%= submit_tag "Add" %>
        <% end %>
      <% # end %>
      <ul id="schedule">
        <% @schedule.courses.each do |cs| %>
        <li class="course <%= cs.number %>">
          <span class="number"><%= cs.number %></span><span class="section"><%= cs.selected_section %></span>
          <span class="name"><%= cs.name %></span>
          <div class="options">
            <%= link_to "X", schedule_selection_path(:schedule_id => @schedule.id,
                                                     :id => cs.id),
                             :method => :delete %>
          </div>
          <table class="sections">
            <tbody>
      <% cs.course.sections_by_lecture.each do |lecture, sections| %>
        <% if lecture %>
              <tr class="lecture">
                <td class="add-course">&nbsp;</td>
                <td class="lecture-num">Lec<%= lecture.number %></td>
                <td class="days"><% lecture.times.each do |time| %>
                  <%= time.days %><br />
                <% end %></td>
                <td class="time"><% lecture.times.each do |time| %>
                  <%= time.to_str %><br />
                <% end %></td>
              </tr>
        <% end %>
        <% sections.each do |section| %>
              <tr class="section <%= cycle('odd', 'even', :name => 'parity') %><%= " selected" if cs.section == section %>">
                <td class="add-course">
                  <%= link_to "+", schedule_selection_path(:schedule_id => @schedule.id,
                                                           :id => cs.id,
                                                           :section_id => section.id),
                                   :method => :put %>
                </td>
                <td class="section-ltr"><%= section.letter %></td>
                <td class="days"><% section.times.each do |time| %>
                  <%= time.days %><br />
                <% end %></td>
                <td class="time"><% section.times.each do |time| %>
                  <%= time.to_str %><br />
                <% end %></td>
              </tr>
        <% end %>
        <% reset_cycle('parity') %>
      <% end %>
            </tbody>
          </table>
        </li>
        <% end %>
      </ul>
      <span id="total-units">Total: <%= @schedule.units %> units</span>
    </div>
    <div id="calendar-container">
      <div id="schedule-permalink-box">
        <div id="schedule-permalink">
          PERMALINK HERE
        </div>
      </div>
      <ul id="calendar">

      </ul>
    </div>
  </div>
</div>
