<%= content_for :javascript_includes do %>
  <%= javascript_include_tag "calendar.js" %>
<% end %>
<div id="page-content" class="schedule">
  <div id="content-header">
    <div class="container">
    <% if user_signed_in? %>
      <img id="schedule-user-pic"
           alt="Vincent Siao"
           src="<%= @schedule.user.fb.try(:picture) %>" />
      <h1 id="schedule-user"><%= @schedule.user.name %></h1>
      <div id="schedule-user-captions">
        <span id="schedule-user-major">has no friends QQ</span>
      </div>
      <div id="schedule-options">
        <!--<%= link_to "Delete", 
                    schedule_path(@schedule), 
                    :class => 'schedule-delete',
                    :method => :delete %>
        <% if @schedule.active %>
          <a href="#" class="schedule-public pub-link">public</a>
        <% else %>
          <%= link_to 'private',
                      schedule_path(@schedule, :schedule => {:active => true}),
                      :class => "schedule-private pub-link",
                      :method => 'put',
                      :remote => true %>
        <% end %>-->
      </div>
    <% else %>
      <p style="text-align:center;color:#666">schedule+ connects you to your Carnegie Mellon 
      friends on Facebook by matching your course schedules. 
      <a href="/auth/facebook" id="fb-login">Login with Facebook</a></p>
    <% end %>
    </div>
  </div>
  <div class="container">
    <div id="schedule-container">
      <% if current_user && current_user == @schedule.user %>
        <%= form_tag schedule_selections_path(@schedule),
                     :id => 'add-course', :method => :post, :remote => true do %>
          <%= text_field_tag :search, nil, :placeholder => 'Add a Course' %>
          <%= submit_tag "Add" %>
        <% end %>
      <% end %>
      <ul id="schedule">
      <% @schedule.course_selections.each do |cs| %>
        <%= render(:partial => 'course', :locals => {:cs => cs}) %>
        <% reset_cycle('parity') %>
      <% end %>
      </ul>
      <span id="total-units">Total: <%= @schedule.units %> units</span>
    </div>
    <div id="calendar-container">
      <ul id="calendar"></ul>
    </div>
  </div>
</div>
