<% title "Courses" %>

<table>
  <tr>
    <th>Course Number</th>
    <th>Section</th>
    <th>Name</th>
    <th>Description</th>
    <th>Units</th>
    <th>Lecture Time</th>
    <th>Lecture Duration</th>
    <th>Lecture Days</th>
    <th>Lecture Room</th>
    <th>Recitation Time</th>
    <th>Recitation Duration</th>
    <th>Recitation Room</th>
    <th>Recitation Days</th>
  </tr>
  <% for course in @courses %>
    <tr>
      <td><%= course.course_number %></td>
      <td><%= course.section %></td>
      <td><%= course.name %></td>
      <td><%= course.description %></td>
      <td><%= course.units %></td>
      <td><%= course.lecture_time %></td>
      <td><%= course.lecture_duration %></td>
      <td><%= course.lecture_days %></td>
      <td><%= course.lecture_room %></td>
      <td><%= course.recitation_time %></td>
      <td><%= course.recitation_duration %></td>
      <td><%= course.recitation_room %></td>
      <td><%= course.recitation_days %></td>
      <td><%= link_to "Show", course %></td>
      <td><%= link_to "Edit", edit_course_path(course) %></td>
      <td><%= link_to "Destroy", course, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Course", new_course_path %></p>
