<div id="page-content" class="course">
  <div id="content-header">
    <div class="container">
      <a href="/courses"><h1 id="course-index-title">
        Browse Courses
      </h1></a>
      <%= form_tag courses_path, :method => 'get', :id => 'courses-search-form' do %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>
      <span id="env-semester">
        <%= current_semester.name %>
      </span>
    </div>
  </div>
  <div class="container">
    <%= link_to "Browse By Department", departments_path, :id => "departments-link" %>
    <table id="courses-table">
      <thead><tr>
        <th><%= sortable "number" %></th>
        <th><%= sortable "name" %></th>
        <th><%= sortable "units" %></th>
        <th><%= sortable "instructor", "Instructor(s)" %></th>
      </tr></thead>
      <tbody>
<% @courses.each do |course| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= course.number %></td>
        <td><%= link_to course.name, course_path(course) %></td>
        <td><%= course.units %></td>
        <td><%= course.instructors %></td>
      </tr>
<% end %>
      </tbody>
    </table>
    <%= will_paginate @courses %>
  </div>
</div>
