<%= javascript_include_tag 'course_facebox.js' %> 
<%
#Page title and meta tag
content_for :title do %><%=
  @course.number + ' - ' + @course.name %><%
end %><%

content_for :description do %><%=
  @course.description %><%
end
%>
<div id="page-content" class="course">
  <div id="content-header">
    <div class="container">
      <h1 id="course-page-title">
        <span class="course-number"><%= @course.number %></span>
        <%= @course.name %>
      </h1>
      <span id="env-semester"><%= @course.semester.name %></span>
    </div>
  </div>
  <div class="container">
  <div id="section-info">
    <h2 id="section-info-header">Sections</h2>
    <table id="section-info-table" caption="Course Sections">
      <tbody><% 
      @course.sections_by_lecture.each do |lecture, sections| 
        if !lecture.nil? %>
        <tr class="lecture">
          <td class="add-course">&nbsp;</td>
          <td class="lecture-num">Lec<%= lecture.number %></td>
          <td class="days"><% 
          lecture.scheduled_times.each do |time| %><%= 
            time.days %><br /><% 
          end %></td>
          <td class="time"><% 
          lecture.scheduled_times.each do |time| %><%=
            time.to_str %><br /><%
          end %></td>
          <td><%= lecture.instructor %></td>
        </tr><% 
        end %><% 
        sections.each do |section| %>
        <tr class="section <%= cycle('odd', 'even', :name => 'parity') %>">
          <td class="add-course"><% 
          if user_signed_in? && current_user.main_schedule %>
            <%= link_to "+", schedule_selections_path(
                               :schedule_id => current_user.main_schedule(current_semester),
                               :id => section.id
                             ),
                             :method => :post %><%
          end %>
          </td>
          <td class="section-ltr"><%= section.letter %></td>
          <td class="days"><% 
          section.scheduled_times.each do |time| %><%=
            time.days %><br /><%
          end %></td>
          <td class="time"><% 
          section.scheduled_times.each do |time| %><%=
            time.to_str %><br /><%
          end %></td>
          <td><%= section.instructor %></td>
        </tr><% 
        end
        reset_cycle('parity')
      end %>
      </tbody>
    </table>
  </div>
    <h2>Course Details</h2>
    <dl id="course-info">
      <dt>Instructor(s):</dt>
      <dd><%= @course.instructors %></dd>
      <dt>Prerequisites:</dt>
      <dd><%= @course.prereqs_str %></dd>
      <dt>Corequisites:</dt>
      <dd><%= @course.coreqs_str %></dd>
    </dl><%
  if user_signed_in?  
    students_all = @course.students(nil, current_user)
    students_now = @course.students(@course.semester, current_user)
    students_pre = students_all - students_now
    
    if !students_now.empty?
    %>
    <h2 class="facebox-header"><%
    if @course.semester == Semester.current then %>
     <% var = "people are " # to make english work...%>
     <% if students_now.length == 1 %>
        <% var = "person is " %>
      <% end %>
     <%=students_now.length %> <%=var%> taking <%= @course.number %> this semester.<%
    else %><%=
      students_now.length %> people took <%= @course.number %> in <%= @course.semester.name %>.<%
    end %></h2>
    <div class="facebox">
      <ul id="course-now-list"><% 
      students_now_first = students_now.first(10)
      students_now_first.each do |s| %>
        <li><%= link_to (image_tag "https://graph.facebook.com/"+s.uid.to_s+"/picture",
                                    :alt => s.name),
                        user_path(s),
                        'tooltip' => s.name %></li><%
      end %>
      <% (students_now - students_now_first).each do |s| %>
        <li class="friends-expand"><%= link_to (image_tag "https://graph.facebook.com/"+s.uid.to_s+"/picture",
                                    :alt => s.name),
                        user_path(s),
                        'tooltip' => s.name %></li><%
      end %>
      </ul>
      <% if students_now.count >= 10 %><span class="expand">see all</span><% end %>
    </div><%
    end
    if !students_pre.empty? %>
    <h2 class="facebox-header"><%=
    students_pre.length %> people have taken <%= @course.number %> previously.</h2>
    <div class="facebox">
      <ul id="course-prev-list"><% 
      students_pre_first = students_pre.first(10)
      students_pre_first.each do |s| %>
        <li><%= link_to (image_tag "https://graph.facebook.com/"+s.uid.to_s+"/picture",
                                    :alt => s.name),
                        user_path(s),
                        'tooltip' => s.name %></li><%
      end %>
      <% (students_pre - students_pre_first).each do |s| %>
        <li class="friends-expand"><%= link_to (image_tag "https://graph.facebook.com/"+s.uid.to_s+"/picture",
                                    :alt => s.name),
                        user_path(s),
                        'tooltip' => s.name %></li><%
      end %>
      </ul>
      <% if students_pre.count >= 10 %><span class="expand">see all</span><% end %>
    </div><%
    end
  end %>
    <h2 id="course-description-header">Description</h2>
    <p id="course-description">
      <%= @course.description.blank? ? "Not Available" : @course.description_str %>
    </p>
  </div>
</div>
