<div id="page-content" class="course">
  <div id="content-header">
    <div class="container">
      <h1 id="course-page-title">
        <span class="course-number"><%= @course.number %></span>
        <%= @course.name %>
      </h1>
      <span id="env-semester">
        Spring 2012
      </span>
    </div>
  </div>
  <div class="container">
    <h2 id="section-info-header">Sections</h2>
    <table id="section-info" caption="Course Sections">
      <!--
      <thead>
        <tr>
          <th></th>
          <th>Days</th>
          <th>Time</th>
        </tr>
      </thead>
      -->
      <tbody>
<% @course.sections_by_lecture.each do |lecture, sections| %>
  <% if !lecture.nil? %>
        <tr>
          <td>Lec <%= lecture.number %></td>
          <td class="days"><% lecture.times.each do |time| %>
            <%= time.days %><br />
          <% end %></td>
          <td><% lecture.times.each do |time| %>
            <%= time.to_str %><br />
          <% end %></td>
          <td><%= lecture.instructor %></td>
          <td>&nbsp;</td>
        </tr>
  <% end %>
  <% sections.each do |section| %>
        <tr>
          <td class="section"><%= section.letter %></td>
          <td class="days"><% section.times.each do |time| %>
            <%= time.days %><br />
          <% end %></td>
          <td><% section.times.each do |time| %>
            <%= time.to_str %><br />
          <% end %></td>
          <td><%= section.instructor %></td>
          <td>Add</td>
        </tr>
  <% end %>
<% end %>
      </tbody>
    </table>
    <h2>Course Details</h2>
    <dl id="course-info">
      <dt>Instructor(s):</dt>
      <dd><%= @course.instructors %></dd>
      <dt>Prerequisites:</dt>
      <dd>21-127</dd>
      <dt>Corequisites:</dt>
      <dd>None</dd>
    </dl>
    <h2 class="facebox-header">Adam Weis, Jason Macdonald, Ian McKellen,
    and 30 others took <%= @course.number %> this semester.</h2>
    <div class="facebox">
      <ul id="course-now-list">
        <li>
          <a href="/user/?" class="tooltip-link" tooltip="Facebook User">
            <img class="facebox-pic" 
                 alt="Facebook User" 
                 src="http://graph.facebook.com/1/picture" />
          </a>
        </li>
        <li>
          <a href="/user/?" class="tooltip-link" tooltip="Facebook User">
            <img class="facebox-pic" 
                 alt="Facebook User" 
                 src="http://graph.facebook.com/1/picture" />
          </a>
        </li>
        <li>
          <a href="/user/?" class="tooltip-link" tooltip="Facebook User">
            <img class="facebox-pic" 
                 alt="Facebook User" 
                 src="http://graph.facebook.com/1/picture" />
          </a>
        </li>
        <li>
          <a href="/user/?" class="tooltip-link" tooltip="Facebook User">
            <img class="facebox-pic" 
                 alt="Facebook User" 
                 src="http://graph.facebook.com/1/picture" />
          </a>
        </li>
        <li>
          <a href="/user/?" class="tooltip-link" tooltip="Facebook User">
            <img class="facebox-pic" 
                 alt="Facebook User" 
                 src="http://graph.facebook.com/1/picture" />
          </a>
        </li>
        <li>
          <a href="/user/?" class="tooltip-link" tooltip="Facebook User">
            <img class="facebox-pic" 
                 alt="Facebook User" 
                 src="http://graph.facebook.com/1/picture" />
          </a>
        </li>
        <li>
          <a href="/user/?" class="tooltip-link" tooltip="Facebook User">
            <img class="facebox-pic" 
                 alt="Facebook User" 
                 src="http://graph.facebook.com/1/picture" />
          </a>
        </li>
        <li>
          <a href="/user/?" class="tooltip-link" tooltip="Facebook User">
            <img class="facebox-pic" 
                 alt="Facebook User" 
                 src="http://graph.facebook.com/1/picture" />
          </a>
        </li>
        <li>
          <a href="/user/?" class="tooltip-link" tooltip="Facebook User">
            <img class="facebox-pic" 
                 alt="Facebook User" 
                 src="http://graph.facebook.com/1/picture" />
          </a>
        </li>
        <li>
          <a href="/user/?" class="tooltip-link" tooltip="Facebook User">
            <img class="facebox-pic" 
                 alt="Facebook User" 
                 src="http://graph.facebook.com/1/picture" />
          </a>
        </li>
      </ul>
      <span class="expand">see all</span>
    </div>
    <h2 class="facebox-header">Kevin Bao, Avesh Singh, Vibha Rao, and
    95 others have taken <%= @course.number %>.</h2>
    <div class="facebox">
      <ul id="course-prev-list">
        <li>
          <a href="/user/?" class="tooltip-link" tooltip="Facebook User">
            <img class="facebox-pic" 
                 alt="Facebook User" 
                 src="http://graph.facebook.com/1/picture" />
          </a>
        </li>
        <li>
          <a href="/user/?" class="tooltip-link" tooltip="Facebook User">
            <img class="facebox-pic" 
                 alt="Facebook User" 
                 src="http://graph.facebook.com/1/picture" />
          </a>
        </li>
        <li>
          <a href="/user/?" class="tooltip-link" tooltip="Facebook User">
            <img class="facebox-pic" 
                 alt="Facebook User" 
                 src="http://graph.facebook.com/1/picture" />
          </a>
        </li>
        <li>
          <a href="/user/?" class="tooltip-link" tooltip="Facebook User">
            <img class="facebox-pic" 
                 alt="Facebook User" 
                 src="http://graph.facebook.com/1/picture" />
          </a>
        </li>
        <li>
          <a href="/user/?" class="tooltip-link" tooltip="Facebook User">
            <img class="facebox-pic" 
                 alt="Facebook User" 
                 src="http://graph.facebook.com/1/picture" />
          </a>
        </li>
        <li>
          <a href="/user/?" class="tooltip-link" tooltip="Facebook User">
            <img class="facebox-pic" 
                 alt="Facebook User" 
                 src="http://graph.facebook.com/1/picture" />
          </a>
        </li>
        <li>
          <a href="/user/?" class="tooltip-link" tooltip="Facebook User">
            <img class="facebox-pic" 
                 alt="Facebook User" 
                 src="http://graph.facebook.com/1/picture" />
          </a>
        </li>
        <li>
          <a href="/user/?" class="tooltip-link" tooltip="Facebook User">
            <img class="facebox-pic" 
                 alt="Facebook User" 
                 src="http://graph.facebook.com/1/picture" />
          </a>
        </li>
        <li>
          <a href="/user/?" class="tooltip-link" tooltip="Facebook User">
            <img class="facebox-pic" 
                 alt="Facebook User" 
                 src="http://graph.facebook.com/1/picture" />
          </a>
        </li>
        <li>
          <a href="/user/?" class="tooltip-link" tooltip="Facebook User">
            <img class="facebox-pic" 
                 alt="Facebook User" 
                 src="http://graph.facebook.com/1/picture" />
          </a>
        </li>
      </ul>
      <span class="expand">see all</span>
    </div>
    <h2 id="course-description-header">Description</h2>
    <p id="course-description">
      This course is about how to use theoretical ideas to formulate and
      solve problems in computer science. It integrates mathematical material
      with general problem solving techniques and computer science
      applications. Examples are drawn from Algorithms, Complexity Theory,
      Game Theory, Probability Theory, Graph Theory, Automata Theory,
      Algebra, Cryptography, and Combinatorics. Assignments involve both
      mathematical proofs and programming. NOTE: students must achieve a C
      or better in order to use this course to satisfy the pre-requisite for
      and subsequent Computer Science course.
    </p>
  </div>
</div>
