<!DOCTYPE html>
<html>
<head>
	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
	<link href='http://fonts.googleapis.com/css?family=Nunito:300,700&v2' rel='stylesheet' type='text/css' />
	<%= stylesheet_link_tag "application" %>
	<%= stylesheet_link_tag "style" %>
	<%= javascript_include_tag :defaults, 'calendar' %>
	<%= csrf_meta_tag %>
	<%= yield(:head) %>
</head>
<body>
	<div id="fb-root"></div>
	<script src="http://connect.facebook.net/en_US/all.js"></script>
  <script>
    FB.init({
      appId: '125852147502350',
      cookie: true,
      xfbml: true,
			oauth: true
    });
  </script>
	<%= render :partial => 'partials/header' %>
	<!--
	<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
	-->
	<div id="page-content">
		<ul id="pages">
			<% if !current_user %>
      <li id="start-page" class="page">
				<div class="container">
					<h1>Get Started</h1>
					<% form_tag schedules_path, :id => 'add-schedule', 
            :method => :get, :remote => true do %>
            <%= text_field_tag :url, nil, :placeholder => 'http://scheduleman.org/schedules/cTUJ2tAnlw' %>
            <%= submit_tag "Add" %>
          <% end %>
          <!--<form id="add-schedule">
          
						<input type="text" placeholder="http://scheduleman.org/schedules/cTUJ2tAnlw"></input>
						<input type="submit" value="Add"></input>
					</form>-->
					<span class="tooltip">
						Paste the URL of your ScheduleMan schedule here and begin sharing with your friends on Facebook!
					</span>
					<p>schedule+ connects you to your Carnegie Mellon friends on Facebook by matching your planned course schedules. See which courses are most common among your friends, or find out which of your friends are free for a lunchtime get-together.</p>
				</div>

			</li>
      <% end %>
			<li id="main-page" class="page">
				<div id="bg-mask"></div>
				<div class="container">
					<div class="sidebar">
						<ul id="main-nav">
							<li id="main-nav-schedules"><%= link_to "schedules", schedules_path, :class => "selected nav-link" %></li>
							<li id="main-nav-friends"<% if !current_user %> class="locked"<% end %>><%= link_to "friends", friends_path, :class => "nav-link" %>
								<% if !current_user %>
                <span class="tooltip">
									
									<fb:login-button onclick="location.href = '/auth/facebook'">Connect</fb:login-button>
									
										</span><% end %>
                </li>
								<% if current_user %>
                <li id="main-nav-logout"><a href="#" class="nav-link">logout</a></li>
                <% end %>
							</ul>
						</div>
						<div id="main-content">
							<!--<%= content_tag :h1, yield(:title) if show_title? %>-->
							<%= yield %>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
